.wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 100px;
    /* overflow: hidden; */
}
.title{
    text-align: center;
    margin-top: 10px;
}
.blog_image{
    overflow: hidden;
    background-color: black;
    /* border-left: 5px solid #05A04B; Green border */
    border-radius: 10px; /* Rounded corners */
    border: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.63);
    
}
.blog_image img{
    transition: transform .3s;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.63); */
    
}
.blog_image img:hover{
    transform: scale(1.3);
    opacity : 0.6;
}
.blog_image img{
    width: 100%;
    height: 100%;
    
}
.blogsL {
    display: flex;
    gap: 15px;
    border: none;
    border-radius: 10px;
    width: 90%;
    /* margin-bottom: 20px; */
    /* background-image: url(../../assets/pattern_L.png); */
    background-size: contain;
    
}
.descriptionL, .blog_image{
    width: 50%;
}
.descriptionL button{
    padding: 5px 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: #E5842E;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.descriptionL p{
    font-size: 18px;
}
@media (max-width : 769px){
  
.blogsL {
display: flex;
flex-direction: column;
/* align-items: center; */
/* justify-content: center; */

}
.descriptionL, .blog_image{
    height: 50%;
    width: 90%;
}
}
