
.outer__container{
    height: 300px;
    width: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin: 20px 0;
}
.content__wrapper{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 100%;
}
.outer__container button{
    background: transparent;
    border: 0;
}
.outer__container{
    /* gap: 30%; */
}
.content {
    height: 560px;
    width: 560px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(187.83deg, rgba(186, 186, 186, 0) 14.03%, rgba(186, 186, 186, 0.4) 94.25%);
    border-radius: 50px;

}
.content p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    width: 253.23px;
}
.content h1{
    font-size: 56px;
    font-weight: 400;
    line-height: 61.6px;
}
@media (max-width : 769px){
    .outer__container{
        height: 150px;
        width: 100%;
    }
    .outer__container button{
        width: 40px;
    }
}
